
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_manageLayout.cshtml";
}
@if (User.IsInRole("admin") || User.IsInRole("manage"))
{
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#regvote">待核准活動報名</a></li>
        <li><a data-toggle="tab" href="#ApproveUsers">待核准的使用者</a></li>
        <li><a data-toggle="tab" href="#ApproveStores">待核准的商店</a></li>
        <li><a data-toggle="tab" href="#ApproveGolds">待核准的金幣</a></li>
    </ul>
    <div class="tab-content">
        <div id="regvote" class="tab-pane fade in active">
            @if (User.IsInRole("admin") || User.IsInRole("manage"))
            {
                <h2>待核准活動報名</h2>
                Html.RenderAction("regVote");
            }
        </div>
        <div id="ApproveUsers" class="tab-pane fade">
            <h2>待核准的使用者</h2>
            @{
                Html.RenderAction("ApproveUsers");
            }
        </div>
        <div id="ApproveStores" class="tab-pane fade">
            <h2>待核准的商店</h2>
            @{
                Html.RenderAction("ApproveStores");
            }
        </div>
        <div id="ApproveGolds" class="tab-pane fade">
            <h2>待核准的金幣</h2>
            @{
                Html.RenderAction("ApproveGolds");
            }
        </div>
    </div>
}
else if (User.IsInRole("store"))
{
    <h2>投票活動報名</h2>
    Html.RenderAction("regVote");
}
